
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}


body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .content {
    font-size: 18px;
    width: 90%;
    margin: 10px auto;
  }

  .secondblock, .thirdblock, .fourthblock, .sixthblock {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
