.quotes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote p {
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote h5 {
    text-align: center;
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    font-weight: bold;
}


.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100%;
}


.newtons-cradle {
    --uib-size: 100px; 
    --uib-speed: 3.2s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
    gap: 20px;
}


.newtons-cradle__dot {
    position: relative;
    height: 100%;
    width: 100%;
    transform-origin: center top;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 10%;
    height: 100%; 
    border-radius: 50%;
    background-color: var(--uib-color);
}


.newtons-cradle__dot:first-child {
    animation: swing var(--uib-speed) linear infinite;
}


.newtons-cradle__dot:last-child {
    animation: swing2 var(--uib-speed) linear infinite;
}


@keyframes swing {
    0% {
        transform: rotate(0deg);
        animation-timing-function: ease-out;
    }
    25% {
        transform: rotate(60deg);
        animation-timing-function: ease-in;
    }
    50% {
        transform: rotate(15deg);
        animation-timing-function: linear;
    }
}

@keyframes swing2 {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(10deg);
        animation-timing-function: ease-out;
    }
    75% {
        transform: rotate(-60deg);
        animation-timing-function: ease-in;
    }
}
@media (max-width: 768px) {
    .newtons-cradle {
        --uib-size: 80px;
        --uib-speed: 1s;
        --uib-color: #474554;
        gap: 30px;
    }

    .newtons-cradle__dot::after {
        width: 1px; 
        height: 12px;
    }

    @keyframes swing {
        0%, 100% { transform: rotate(0deg); }
        25% { transform: rotate(50deg); }
        50% { transform: rotate(0deg); }
    }

    @keyframes swing2 {
        0%, 100% { transform: rotate(0deg); }
        50% { transform: rotate(-50deg); }
    }

    .loading-text {
        margin-top: 12px;
        font-size: 16px;
        font-weight: bold;
        color: #474554;
    }
}
