.quotes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote p {
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote h5 {
    text-align: center;
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    font-weight: bold;
}
