.form-container {
    padding: 80px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: black;
    max-width: 90%;
    box-sizing: border-box;
    background: #f9f9f9;
    border-radius: 10px;
}

.form-container h2 {
    padding-bottom: 20px;
    text-align: center;
    color: black;
    font-size: 24px;
    text-decoration: underline;
}

.form-group {
    flex: 1;
    min-width: 280px;
}

.sec1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 2px;
}

.submit-button {
    padding: 12px;
    background-color: #366e28;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    width: 50%;
    max-width: 200px;
    margin: 30px auto;
}

.close-button {
    display: block;
    margin: -40px -45px auto auto;
    font-weight: bold;
    height: 40px;
    padding: 10px 20px;
    color: black;
    font-size: 12px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .form-container {
        padding: 40px;
        max-width: 100%;
    }

    .sec1 {
        gap:20px;
        flex-direction: column;
        align-items: center;
    }

    .submit-button {
        width: 70%;
    }
    
}
