.form-container {
    padding: 50px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3),
        -5px -5px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
    color: rgb(0, 0, 0);
    box-sizing: border-box;

}

.form-container h2 {
    padding: 15px 20px 40px 0px;
    text-decoration: underline;
    text-align: center;
    color: black;
}

.form-group {
    margin-bottom: 10px;
}

.sec1 {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
}



.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 300px;
    padding: 15px;
    margin: 5px 0;
    box-sizing: border-box;

}

.submit-button {
    padding: 10px 20px;
    background-color: #366e28;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 50px;
}

.close-button {
    display: block;
    margin: -40px -45px auto auto;
    font-weight: bold;
    height: 40px;
    padding: 10px 20px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .form-container {
        padding-right: 45px;
        padding-left: 50px;
    }

    h2 {
        font-size: 32px;
        padding-bottom: 20px;
    }

    .sec1 {
        gap: 30px;
    }

    .submit-button {
        width: 30%;
    }
}

@media (max-width: 992px) {


    h2 {
        font-size: 28px;
    }

    .sec1 {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    .form-group input {
        font-size: 16px;
        padding: 14px;
    }

    .submit-button {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .form-container {
        margin: 0px;
        max-width: 100%;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25), -3px -3px 8px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;

    }

    h2 {
        font-size: 24px;
        padding-bottom: 15px;
    }

    .sec1 {
        gap: 20px;
    }

    .form-group input {
        font-size: 14px;
        padding: 12px;
    }

    .submit-button {
        width: 50%;
    }
}