.dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.dish {
    text-align: center;
    max-width: 500px;
    background-color: #f0eeee;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dish img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.dish h2 {
    font-size: 24px;
    font-family: cursive;
    margin: 20px 0;
}

.dish p {
    font-size: 16px;
    letter-spacing: 0.05rem;
    margin: 9px;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.newtons-cradle {
    --uib-size: 100px;
    --uib-speed: 1s;
    --uib-color: #474554;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--uib-size);
    height: var(--uib-size);
    gap: 10px;
   
}

.newtons-cradle__dot {
    position: relative;
    height: 100%;
    width: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transform-origin: center center;
}

.newtons-cradle__dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    border-radius: 50%;
    background-color: var(--uib-color);
}


.newtons-cradle__dot:nth-child(1) {
    animation: wave var(--uib-speed) ease-in-out infinite;
}

.newtons-cradle__dot:nth-child(2) {
    animation: wave var(--uib-speed) ease-in-out 0.2s infinite;
}

.newtons-cradle__dot:nth-child(3) {
    animation: wave var(--uib-speed) ease-in-out 0.4s infinite;
}

.newtons-cradle__dot:nth-child(4) {
    animation: wave var(--uib-speed) ease-in-out 0.6s infinite;
}

/* Wave Motion */
@keyframes wave {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .newtons-cradle {
        --uib-size: 80px;
        --uib-speed: 1s;
        /* Slower wave for mobile */
        gap: 8px;
    }

    .newtons-cradle__dot::after {
        width: 80%;
        height: 15px;
    }

    /* Make the wave motion more subtle */
    @keyframes wave {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    .dish {
        max-width: 325px;
    }

    .dish h2 {
        font-size: 20px;
    }

    .dish p {
        font-size: 14px;
    }

    .quote {
        font-size: 40px;
    }

}