.content {
  font-size: 26px;
  text-align: center;
  font-family: cursive;
  width: 49%;
  margin: 0 auto;
  margin-top: 5%;
}

.content-image {
  margin-top: 30px;
  width: 100%;

}

.container h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

.secondblock {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 100px;
  margin-bottom: 100px;
}

.secondblock h2 {
  font-size: 68px;
  text-align: left;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondblock p {
  font-size: 20px;
  padding-top: 50px;
  font-weight: lighter;
  color: rgb(133 127 127);
  text-align: right;
  width: 60%;
  line-height: normal;
  font-family: Poppins, sans-serif;
  margin-bottom: 20px;
}

.arrow-circle {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-circle::after {
  content: "▼";
  font-size: 24px;
  color: rgb(0, 0, 0);
}


.container {
  margin-right: 70px;
  margin-left: 70px;
}

.About button {
  display: block;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  border-color: #000000;
  color: rgb(0, 0, 0);
  border: 1.5px solid black;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}

.thirdblock {
  display: flex;
  font-size: 25px;
  text-align: left;
  gap: 40px;
  line-height: 50px;
  align-items: center;
  justify-content: center;

}

.thirdblock p {
  font-size: 17px;
  font-weight: lighter;
  color: rgb(212, 212, 212);
  text-align: left;
  width: 50%;
  line-height: normal;
  font-family: poppins;
}

.see button {
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 99px;
  cursor: pointer;
  font-size: 16px;
}

.picture {
  height: 50%;
  width: 100%;
}

.picture .pics {
  height: 50%;
  width: 100%;
}

.gumroad-button {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #f7defc;
  border-color: #e7e7e9;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 99999px;
  box-shadow: 0 2px 0 #fff, 0 4px 0 #999999;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
}

.gumroad-button:hover {
  background-color: #Cae4d1;
}


.fourthblock {

  font-size: 30px;
  text-align: left;
}

.service button {
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  border-color: #000000;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}

.villa {
  display: flex;
  gap: 16%;
  background-color: #000000;
  padding: 2%;

}

.villa h4 {

  white-space: nowrap;
  justify-content: center;
  gap: 216px;
  color: #e7e7e9;
  font-weight: lighter;

}

.villa p {
  font-size: 25px;
  color: #e7e7e9;
  line-height: 1.4;

}

.villa1 {
  display: flex;
  gap: 16%;
  justify-content: space-between;
}

.villa1 h4 {
  font-size: 24px;
  white-space: nowrap;
  font-weight: lighter;
  text-align: left;
}

.villa1 .home {
  height: 185px;
  width: 225px;
  border-radius: 16px;
}

.villa1 p {
  width: 16%;
  font-size: 17px;
  text-align: center;
  color: rgb(212, 212, 212);
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
  width: 100%;
}



.villa2 {
  display: flex;
  gap: 16%;
  justify-content: space-between;
}

.villa2 h4 {
  font-size: 24px;
  white-space: nowrap;
  font-weight: lighter;
  text-align: left;
}

.villa2 .dome {
  height: 185px;
  width: 225px;
  border-radius: 16px;
}

.villa2 p {
  width: 16%;
  font-size: 16px;
  text-align: left;
  color: rgb(212, 212, 212);
  font-weight: bold;
}

.villa3 {
  display: flex;
  justify-content: right;

}

.dupsix h2 {
  font-weight: 500;
  font-size: 42px;
  text-align: right;
  margin: 2px 0px;
}

.dupsix p {
  text-align: right;
  font-size: 30px;
  color: rgb(212, 212, 212);
  margin: 2px 0px;
}

.para {
  font-size: 35px;
  font-weight: lighter;
  text-align: left;
  padding-right: 89px;
}

.para p {
  text-align: left;
  margin-left: 106px;
  font-size: 24px;
  line-height: 0px;
  color: rgb(212, 212, 212);
}

.villa3 h4 {
  font-size: 24px;
  white-space: nowrap;
  font-weight: lighter;
  text-align: left;
}

.villa3 .relative {

  height: 750px;
  width: 850px;
}


.new button {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 40px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 99px;
  font-size: 14px;
  cursor: pointer;
}

.sixthblock p {
  width: 100%;
  text-align: right;
  margin-left: 0px;
  margin-right: 0px;
  font-size: 16px;
  line-height: 2;
  color: rgb(179 167 167);

}

.sixthblock h3 {
  margin-top: 2%;
  font-size: 35px;
}

.villa4 {
  margin: 5%;
  position: absolute;
  top: 600px;
  left: 20px;
}

.villa4 .absolute {
  height: 650px;
  width: 650px;
  margin-top: -274px;

}

.para h4 {
  font-weight: 100;
  margin-left: 105px;
  margin-top: 20px;
  line-height: 0px;
}


.villa5 {
  display: flex;
  justify-content: right;
  margin: 5%;
}

.villa5 .ding {
  position: relative;
  top: -930px;
  margin-right: -87px;
  height: 650px;
  width: 1000px;
}

.paras h5 {
  font-size: 42px;
  font-weight: 500;
  text-align: right;
  margin-bottom: 0px;
  line-height: 0px;
}


.paras {
  position: relative;
  margin-top: -980px;
}

.paras p {

  text-align: right;
  font-size: 30px;
  line-height: 20px;
  margin-right: 0px;
  color: rgb(212, 212, 212);
}

.villa6 .dung {
  position: relative;
  top: -300px;
  width: 800px;


}

.villa6 h4 {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 0px;
  font-weight: 100;
  margin-left: 100px;
}

.villa6 p {
  text-align: center;
  font-size: 24px;
  margin-left: 100px;
  color: rgb(212, 212, 212);
}

.over7 {
  display: flex;
  gap: 25%;
  margin-top: -100px;
}

.villaa7 {
  padding-top: 75px;
}

.villaa7 p {
  font-size: 40px;
  line-height: 1;
}

.villaa7 .banng {
  margin-top: 60px;
}

.villaa7 button {
  height: 40px;
  float: right;
  padding: 10px 20px;
  color: rgb(255 255 255);
  background-color: black;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}

.villa7 .bang {
  height: 625px;
  width: 600px;
  margin-right: 100px;

}

.seventhblock .rec {
  height: 450px;
}

.villa7 h2 {
  font-size: 40px;
  font-weight: 500;
  margin-top: 0px;

}

.villa7 p {
  font-size: 32px;
  margin-top: -30px;
  color: rgb(212, 212, 212);

}

.seemore button {
  float: none;
  margin-right: 100px;
  padding: 10px 20px;
  background-color: #000;
  color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 99px;
  cursor: pointer;
}


.pro {

  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(144 141 141);
  border: 2px solid #c9c4c4;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}


.villa8 .lative {
  float: left;
  height: 500px;
  width: 1000px;
}

.bun {
  text-align: right;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
}

.bun h3 {
  font-size: 50px;
  text-align: left;
  margin-top: 0px;
  font-weight: 600;
}

.bun p {
  font-size: 20px;
  text-align: right;
  line-height: 1.5;
  color: rgb(133 127 127);
  margin-top: 100px;
  margin-right: 0px;
}

.bolt {
  justify-content: space-between;
  display: flex;
  gap: 10px;
}

.villa9 .plative {
  height: 500px;
  width: 400px;
}

.villa10 .clative {
  height: 500px;
  width: 400px;
}

.ninthblock {
  text-align: right;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.ninthblock p {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;
  margin-top: 10px;
  margin-right: 150px;
  color: rgb(159 155 155);
  ;
}

.child1 h2 {
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  margin-left: 16%;
  margin-top: 118px;
}

.child1 button {
  margin-top: 40px;
  margin-left: 100px;
  float: left;
  padding: 10px 20px;
  border-color: #e1dcdc;
  color: rgb(98 93 93);
  background-color: white;
  border: 2px solid #c9c4c4;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
  text-transform: uppercase;
}

.last h1 {
  font-size: 50px;
  margin-top: 10%;
}


.villa11 .captive {
  width: 100%;
  height: 700px;
  padding-top: 50px;
  border-radius: 50px;
}

.graph {
  text-align: center;
}

.graph h2 {
  font-size: 60px;
}

.graph p {
  font-size: 35px;

}

.dummy button {
  color: #ffffff;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 40px;
  padding: 10px 30px;
  background-color: #000000;
  font-weight: 500;
  border: none;
  border-radius: 99999px;
  box-shadow: 0 2px 0 #fff, 0 4px 0 #ea64d9;
  cursor: pointer;
  font-size: 24px;
}

.dummy2 {
  margin-top: 3%;
  text-align: center;
}

.dummy2 p {

  line-height: 0;
  font-size: 34px;
}

.dummy2 h3 {

  display: inline;
  font-size: 40px;
}

.dummy3 {
  margin-top: 3%;
  text-align: center;
}

.dummy3 p {

  line-height: 0;
  font-size: 34px;
}

.dummy3 h4 {
  font-size: 20px;
}

.divider9 {
  height: 2px;
  background-color: #6b3131;
  margin: 10px 0;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.divider10 {
  height: 2px;
  background-color: #6b3131;
  margin: 10px 0;
  margin-top: -98px;
  margin-bottom: 0px;
  width: 100%;
}

.robo {
  position: relative;
  top: -300px;
  margin: 2px 0px;
}

.robo h4 {
  font-size: 42px;
  margin: 2px 0px;
}

.robo p {
  text-align: left;
  font-size: 30px;
  margin: 2px 0px;
  color: rgb(179 167 167);
}

.tomb {
  position: relative;
  padding-top: 480px;
}

.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-left: 5px;
}

.underline::after {
  content: "";
  position: absolute;
  left: 8px;
  bottom: 0;
  width: calc(100% - 5px);
  height: 3px;
  background-color: rgb(240, 120, 210);
}




@media(max-width:768px) {
  .over7 {
    flex-direction: column;
  }

  .villaa7 .banng {
    width: 100%;
    border-radius: 16px;
  }

  .container {
    margin-right: 0px;
    margin-left: 0px;
  }

  .secondblock {

    flex-direction: column;
    margin: 0px;
  }

  .secondblock p {

    font-size: 14px;
    text-align: center;
    line-height: 24px;
    width: 100%;
  }

  .secondblock h2 {
    margin: auto;
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
  }

  .thirdblock {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .thirdblock h2 {
    line-height: normal;
    font-size: 25px;
    margin: 42px;
  }

  .thirdblock p {
    width: 100%;
    text-align: center;
    line-height: 24px;
    margin-top: 25px;
    font-size: 14px;
  }

  .villa {
    display: flex;
    flex-direction: column;
  }

  .villa1 {
    flex-direction: column;
  }

  .villa2 {
    flex-direction: column;
  }

  .new button {
    margin: auto;
    margin-top: 50px;

  }

  .villa3 .relative {
    width: 100%;
    height: auto;
    margin-top: 0px;
    border-radius: 16px;
  }

  .villa4 .absolute {
    max-width: 100%;
    height: auto;
  }


  .villa5 {
    margin: 20px 0px;

  }

  .villa5 .ding {
    padding-top: 620px;
    margin-right: 0px;
    height: auto;
    width: 100%;
    border-radius: 16px;
  }

  .sixthblock h3 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
  }

  .sixthblock p {
    margin-top: 15px;
  }


  .villa7 .bang {
    margin-top: 25px;
    margin-right: 0px;
    width: 100%;
    border-radius: 16px;
  }

  .villa8 .lative {
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 16px;
  }

  .villa9 .plative {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .ninthblock {
    flex-direction: column;
  }

  .villa10 .clative {
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  .bolt {
    flex-direction: column;
  }

  .bun {
    flex-direction: column;
  }

  .para {
    font-size: 35px;
    text-align: left;
    margin-right: 89px;
  }

  .para h4 {
    font-size: 21px;
    line-height: 20px;
    margin-top: 75px;
    text-align: center;
  }

  .paras h5 {
    font-weight: 400;
    width: 100%;
    text-align: right;
    font-size: 24px;
    margin-bottom: 14px;
    margin-top: 80px;

  }

  .About button {
    margin: auto;
    margin-top: -15px;
  }

  .see button {
    margin: auto;
    margin-top: 50px;
    display: block;
  }

  .seemore button {
    width: 30%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 50px;
  }


  .service button {
    margin: auto;
    display: block;
    margin-top: 50px;
  }

  .service h2 {
    font-size: 23px;
    margin-top: 50px;
    text-align: center;
  }

  .villa h4 {
    text-align: center;
  }

  .villa p {
    text-align: center;
    font-size: 21px;
  }

  .villa1 .home {
    width: 100%;
    border-radius: 16px;
    height: auto;
  }

  .villa1 h4 {
    text-align: center;
  }

  .villa1 p {
    width: 100%;
  }

  .villa2 .dome {
    width: 100%;
    height: auto;
  }

  .villa2 h4 {
    text-align: center;
  }

  .villa2 p {
    width: 100%;
    text-align: center;
  }

  .About h2 {
    line-height: 10%;
  }

  .bun {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .bun h3 {
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    line-height: 1.5;
  }

  .bun p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 24px;
    margin-top: 0px;

  }

  .para p {
    text-align: left;
    margin-left: 130px;
    margin-top: -20px;
    margin-bottom: 100px;
    font-size: 12px;
    color: rgb(179 167 167);
  }

  .paras p {

    text-align: right;
    font-size: 16px;
    line-height: 20px;
    color: rgb(179 167 167);
  }

  .eighthblock button {

    height: 40px;
    margin-left: 160px;
    margin-right: 0px;
    padding: 10px 20px;
    border-color: #e1dcdc;
    color: rgb(159 155 155);
    border: 2px solid #c9c4c4;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
  }

  .villa6 .dung {
    padding-top: 300px;
    width: 100%;
    border-radius: 16px;
  }

  .villa6 h4 {
    font-size: 24px;
    line-height: 40px;
    margin-top: 0px;
    font-weight: 100;
    margin-left: 0px;
  }

  .divider1 {
    height: 2px;
    background-color: #e0e0e0;
    margin: 10px 0;
    width: 100%;
  }

  .divider9 {
    height: 1px;
    background-color: #6b3131;
    margin: 10px 0;
    width: 100%;
  }

  .tomb {
    padding-top: 0px;

  }

  .villa11 .captive {
    height: auto;
    width: 100%;
    margin-top: 14%;
    margin-bottom: 10%;
    border-radius: 16px;
  }

  .last h1 {
    font-size: 26px;
    margin-top: 12%;
    line-height: 1.5;
  }

  .content {
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
  }

  .ninthblock p {
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: rgb(159 155 155);
  }


  .dupsix {
    margin: auto;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;

  }

  .dupsix h2 {
    font-size: 20px;
    font-weight: lighter;
    text-align: right;
    margin: 2px 7px -15px;
  }

  .dupsix p {
    text-align: right;
    font-size: 16px;
    margin-top: 0px;
    margin: -18px -7px 1px;
  }


  .robo h4 {
    text-align: left;
    align-items: center;
    font-size: 24px;
    font-weight: lighter;
    margin-bottom: -15px;

  }

  .robo p {
    width: 100%;
    text-align: left;
    font-size: 16px;
    line-height: 1;
    color: rgb(179 167 167);
    margin-top: 16px;
  }

  .child1 h2 {
    width: 99%;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    margin-left: 1%;
  }

  .child1 button {

    height: 40px;
    margin-top: 40px;
    margin-left: 100px;
    float: left;
    padding: 10px 20px;
    border-color: #e1dcdc;
    color: rgb(159 155 155);
    border: 2px solid #c9c4c4;
    border-radius: 99px;
    font-size: 15px;
    cursor: pointer;
  }

  .divider9 {
    height: 2px;
    background-color: #6b3131;
    margin: 10px 0;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
  }

  .divider10 {
    height: 2px;
    background-color: #6b3131;
    margin: 10px 0;
    margin-top: -98px;
    margin-bottom: 0px;
    width: 100%;
  }

  .seventhblock {
    width: 100%;
    position: relative;
  }

  .over7 {
    display: flex;
    gap: 25%;
    margin-top: -100px;
  }

  .villaa7 {
    padding-top: 0px;
  }

  .villaa7 p {
    font-size: 20px;
    line-height: 1;
  }

  .villaa7 .banng {
    margin-top: 60px;
  }

  .villaa7 button {
    height: 40px;
    float: right;
    padding: 10px 20px;
    color: rgb(255 255 255);
    background-color: black;
    border-radius: 99px;
    font-size: 15px;
    cursor: pointer;
  }

  .villa7 .bang {
    margin-top: 100px;
    height: auto;
    width: 100%;
  }

  .graph h2 {
    font-size: 20px;
  }


  .graph p {
    font-size: 16px;

  }

  .dummy button {
    width: 40%;
    height: auto;
    font-size: 16px;
  }

  .dummy2 p {
    font-size: 20px;
  }

  .dummy2 h3 {
    font-size: 26px;
  }

  .dummy3 p {
    font-size: 26px;
  }

  .dummy3 h4 {
    font-size: 16px;
  }

  .villa7 h2 {
    font-size: 24px;
  }

  .villa7 p {
    font-size: 20px;
  }

  .villa img {
    border-radius: 16px;
  }

  .picture .pics {
    border-radius: 16px;
  }
}