
.content {
  font-size: 26px;
  text-align: center;
  font-family: cursive;
  width: 49%;
  margin: 0 auto;
  margin-top: 5%;
}

.content-image {
  margin-top: 30px;
  width: 100%;

}

.container h1{
  font-size: 40px;
  text-align: center;
  margin-top: 50px;
}

.secondblock {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;


}

.secondblock h2 {
  margin-top: 0%;
  font-size: 48px;
  text-align: left;
}


.secondblock p {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(212, 212, 212);
  text-align: left;
  width: 20%;
  line-height: normal;
  font-family: poppins;
}

.container {
  margin-right: 70px;
  margin-left: 70px;
}

.About button {
  display: block;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  border-color: #000000;
  color: rgb(0, 0, 0);
  border: 1.5px solid black;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}

.thirdblock {
  display: flex;
  font-size: 25px;
  text-align: left;
  gap: 40px;
  line-height: 50px;
  align-items: center;
  justify-content: center;

}

.thirdblock p {
  font-size: 17px;
  font-weight: lighter;
  color: rgb(212, 212, 212);
  text-align: left;
  width: 50%;
  line-height: normal;
  font-family: poppins;
}

.see button {
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 99px;
  cursor: pointer;
  font-size: 16px;
}

/* .see button:hover {
  background-color: #ffffff;
} */

.picture {
  height: 50%;
  width: 100%;

}

.picture .pics {
  height: 50%;
  width: 100%;


}

.gumroad-button {
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #f7defc;
  border-color: #e7e7e9;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 99999px;
  box-shadow: 0 2px 0 #fff, 0 4px 0 #999999;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
}

.gumroad-button:hover {
  background-color: #Cae4d1;
}


.fourthblock {

  font-size: 30px;
  text-align: left;
}

.service button {
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  border-color: #000000;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}

.villa {
  display: flex;
  gap: 16%;
  background-color: #000000;
  padding: 2%;

}

.villa h4 {

  white-space: nowrap;
  justify-content: center;
  gap: 216px;
  color: #e7e7e9;
  font-weight: lighter;

}

.villa p {
  font-size: 25px;
  color: #e7e7e9;
  line-height: 1.4;

}

.villa1 {
  display: flex;
  gap: 16%;
  justify-content: space-between;
}

.villa1 h4 {
  font-size: 24px;
  white-space: nowrap;
  font-weight: lighter;
  text-align: left;
}

.villa1 .home {
  height: 185px;
  width: 225px;
}

.villa1 p {
  width: 16%;
  font-size: 17px;
  text-align: center;
  color: rgb(212, 212, 212);
  font-weight: bold;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
  width: 100%;
}



.villa2 {
  display: flex;
  gap: 16%;
  justify-content: space-between;
}

.villa2 h4 {
  font-size: 24px;
  white-space: nowrap;
  font-weight: lighter;
  text-align: left;
}

.villa2 .dome {
  height: 185px;
  width: 225px;
}

.villa2 p {
  width: 16%;
  font-size: 16px;
  text-align: left;
  color: rgb(212, 212, 212);
  font-weight: bold;
}

.villa3 {
  display: flex;
  justify-content: right;
  margin: 5%;
}

.dupsix h2 {
  font-size: 30px;
  font-weight: lighter;
  text-align: right;
  margin-right: 100px;
  margin-bottom: 0px;
  line-height: 0px;
}

.dupsix p {
  text-align: right;
  font-size: 24px;
  line-height: 20px;
  margin-right: 100px;
  color: rgb(212, 212, 212);
}

.para {
  font-size: 35px;
  font-weight: lighter;
  text-align: left;
  margin-right: 89px;
}

.para p {
  text-align: left;
  margin-left: 106px;
  font-size: 24px;
  line-height: 0px;
  color: rgb(212, 212, 212);
}

.villa3 h4 {
  font-size: 24px;
  white-space: nowrap;
  font-weight: lighter;
  text-align: left;
}

.villa3 .relative {
  position: relative;
  top: 50px;
  height: 750px;
  width: 730px;
}

.sixthblock {
  position: relative;

}

.new button {
  display: flex;
  width: 8%;
  justify-content: left;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  border-color: #000000;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}


.sixthblock h3 {
  margin-top: 2%;
  font-size: 35px;
  text-align: left;
  font-weight: 600;
  line-height: 50px;
}

.villa4 {
  margin: 5%;
  position: absolute;
  top: 600px;
  left: 20px;
}

.villa4 .absolute {
  height: 650px;
  width: 650px;
  margin-top: -274px;

}

.para h4 {
  font-weight: 100;
  margin-left: 105px;
  margin-top: 20px;
  line-height: 0px;
}


.villa5 {
  display: flex;
  gap: 16px;
  justify-content: right;
  margin: 5%;
}

.villa5 .ding {
  height: 500px;
  width: 900px;
  margin-top: -50px;
}

.paras h5 {
  font-size: 30px;
  font-weight: lighter;
  text-align: right;
  margin-right: 0px;
  margin-bottom: 0px;
  line-height: 0px;
}


.paras {
  position: relative;
  font-weight: lighter;
  margin-right: 100px;
  margin-top: -55px;
}

.paras p {

  text-align: right;
  font-size: 24px;
  line-height: 20px;
  margin-right: 0px;
  color: rgb(212, 212, 212);
}

.villa6 {
  position: absolute;
  left: 0%;
  line-height: 30px;
}

.villa6 .dung {
  height: 450px;
  width: 500px;
  margin-left: 100px;
  margin-top: 152px;
}

.villa6 h4 {
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 0px;
  line-height: 0px;
  font-weight: 100;
  margin-left: 100px;
}

.villa6 p {
  text-align: center;
  font-size: 24px;
  margin-left: 100px;
  color: rgb(212, 212, 212);
}

.seventhblock {
  width: 100%;
  position: relative;

}

.villa7 .bang {
  height: 450px;
  width: 700px;
  margin-right: 100px;
  margin-top: 100px;

}

.villa7 p {
  text-align: center;
  margin-top: 25px;
  margin-right: 50px;
  font-size: 30px;
  line-height: 35px;
  color: #000;

}

.seemore button {
  float: none;
  margin-right: 100px;
  padding: 10px 20px;
  background-color: #000;
  color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 99px;
  cursor: pointer;
}

.eighthblock {

  clear: both;
}

.eighthblock button {

  height: 40px;
  margin-top: 40px;
  margin-left: 100px;
  float: left;
  padding: 10px 20px;
  border-color: #e1dcdc;
  color: rgb(159 155 155);
  border: 2px solid #c9c4c4;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}


.villa8 .lative {
  float: left;
  height: 500px;
  width: 1000px;
  margin-left: 100px;
}

.bun {
  text-align: right;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.bun h3 {
  font-size: 35px;
  text-align: left;
  margin-top: 7%;
  margin-left: -6%;
  line-height: 1.5;
}

.bun p {
  font-size: 20px;
  text-align: right;
  line-height: 1.5;
  color: rgb(212, 212, 212);
  margin-top: 100px;
  margin-right: 0px;
}

.bolt {
  display: flex;
  gap: 1%;
}

.villa9 .plative {
  height: 500px;
  width: 350px;
  transform: rotateZ('angle');
  transition: transform 0.5s ease-in-out;
}

.villa10 .clative {
  height: 500px;
  width: 300px;
}

.ninthblock {
  text-align: right;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 20px;
}

.ninthblock p {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;
  margin-top: 10px;
  margin-right: 150px;
  color: rgb(159 155 155);
  ;
}

.child1 h2 {
  font-size: 50px;
  line-height: 60px;
  text-align: left;
  margin-left: 16%;
  margin-top: 118px;
}

.child1 button {

  height: 40px;
  margin-top: 40px;
  margin-left: 100px;
  float: left;
  padding: 10px 20px;
  border-color: #e1dcdc;
  color: rgb(159 155 155);
  border: 2px solid #c9c4c4;
  border-radius: 99px;
  font-size: 15px;
  cursor: pointer;
}

.last h1 {
  font-size: 50px;
  margin-top: 10%;
}

.last button {
  margin: auto;
  display: block;
  padding: 10px 20px;
  background-color: #425945;
  color: #ffffff;
  border: .5px solid black;
  border-radius: 15px;
  cursor: pointer;

}

.villa11 .captive {
  padding-top: 50px;
  padding-bottom: 75px;
}

.graph {
  margin-top: -7%;
  text-align: center;
}

.graph h2 {
  font-size: 40px;
}

.graph p {
  font-size: 24px;
  color: rgb(159 155 155);
}

.dummy button {
  color: #ffffff;
  display: block;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #000000;
  border-color: #e7e7e9;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: none;
  border-radius: 99999px;
  box-shadow: 0 2px 0 #fff, 0 4px 0 #ea64d9;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
}

.dummy2 {
  margin-top: 3%;
  text-align: center;
}

.dummy2 p {

  line-height: 0;
  font-size: 20px;
  color: rgb(159 155 155);
}

.dummy2 h3 {
  background-color: rgb(247 242 234);
  display: inline;
  font-size: 24px;
}

.dummy3 {
  margin-top: 3%;
  text-align: center;
}

.dummy3 p {

  line-height: 0;
  font-size: 20px;
  color: rgb(159 155 155);

}

.divider9 {
  height: 2px;
  background-color: #6b3131;
  margin: 10px 0;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
}

.divider10 {
  height: 2px;
  background-color: #6b3131;
  margin: 10px 0;
  margin-top: -98px;
  margin-bottom: 0px;
  width: 100%;
}

.robo h4 {
  font-size: 24px;
  font-weight: lighter;
  text-align: left;
  margin-right: 77px;
  margin-top: 144px;
  margin-bottom: -16px;
  margin-left: 102px;
  line-height: 0px;
}

.robo p {
  width: 100%;
  text-align: left;
  margin-left: 102px;
  margin-top: 30px;
  margin-bottom: -500px;
  font-size: 16px;
  line-height: 2;
  color: rgb(179 167 167);
}

.tomb {
  margin-top: 555px;
}


@media(max-width:768px) {
  .container {
    margin-right: 0px;
    margin-left: 0px;

  }

  .secondblock {

    flex-direction: column;
    margin: 50px;
  }

  .secondblock p {

    font-size: 14px;
    text-align: center;
    line-height: 24px;
    width: 100%;
  }

  .secondblock h2 {
    font-size: 24px;
    text-align: center;
  }

  .thirdblock {
    flex-direction: column;
    margin: auto;
    text-align: center;
  }

  .thirdblock h2 {
    line-height: normal;
    font-size: 25px;
    margin: 42px;
  }

  .thirdblock p {
    width: 100%;
    text-align: center;
    line-height: 24px;
    margin-top: 25px;
    font-size: 14px;
  }

  .villa {
    flex-direction: column;
  }

  .villa1 {
    flex-direction: column;
  }

  .villa2 {
    flex-direction: column;
  }

  .new button {
    margin: auto;
    margin-top: 50px;
    flex-direction: row;
    width: 32%;
  }

  .villa3 .relative {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .villa4 .absolute {
    max-width: 100%;
    height: auto;
  }

  .villa5 .ding {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  .sixthblock h3 {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
  }

  .sixthblock p {
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-top: 30px;
    margin-right: 0px;
    font-size: 16px;
    line-height: 2;
    color: rgb(179 167 167);
  }


  .villa7 .bang {
    margin-top: 25px;
    margin-right: 0px;
    width: 100%;
  }

  .villa8 .lative {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .villa9 .plative {
    width: 100%;
    height: auto;
  }

  .ninthblock {
    flex-direction: column;
  }

  .villa10 .clative {
    width: 100%;
    height: auto;
  }

  .bolt {
    flex-direction: column;
  }

  .bun {
    flex-direction: column;
  }

  .para {
    font-size: 35px;
    text-align: left;
    margin-right: 89px;
  }

  .para h4 {
    font-size: 21px;
    line-height: 20px;
    margin-top: 75px;
    text-align: center;
  }

  .paras h5 {
    width: 100%;
    text-align: right;
    font-size: 24px;
    margin-bottom: 14px;
    margin-top: 80px;

  }

  .About button {
    margin: auto;
    margin-top: -15px;
  }

  .see button {
    margin: auto;
    margin-top: 50px;
    display: block;
  }

  .seemore button {
    width: 30%;
    height: auto;
    margin-right: 0px;
    margin-bottom: 50px;
  }


  .service button {
    margin: auto;
    display: block;
    margin-top: 50px;
  }

  .service h2 {
    font-size: 23px;
    margin-top: 50px;
    text-align: center;
  }

  .villa h4 {
    text-align: center;
  }

  .villa p {
    text-align: center;
    font-size: 21px;
  }

  .villa1 .home {
    width: 100%;
    height: auto;
  }

  .villa1 h4 {
    text-align: center;
  }

  .villa1 p {
    width: 100%;
  }

  .villa2 .dome {
    width: 100%;
    height: auto;
  }

  .villa2 h4 {
    text-align: center;
  }

  .villa2 p {
    width: 100%;
    text-align: center;
  }

  .About h2 {
    line-height: 10%;
  }

  .bun {
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .bun h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    line-height: 1.5;
  }

  .bun p {
    width: 50%;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    color: rgb(183 170 170);
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 40px;
  }

  .para p {
    text-align: left;
    margin-left: 130px;
    margin-top: -20px;
    margin-bottom: 100px;
    font-size: 12px;
    color: rgb(179 167 167);
  }

  .paras p {

    text-align: center;
    margin-left: 40px;
    font-size: 16px;
    line-height: 0px;
    color: rgb(179 167 167);
  }

  .eighthblock button {

    height: 40px;
    margin-left: 160px;
    margin-right: 0px;
    padding: 10px 20px;
    border-color: #e1dcdc;
    color: rgb(159 155 155);
    border: 2px solid #c9c4c4;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
  }

  .villa6 .dung {
    height: auto;
    margin: auto;
    width: 100%;
  }

  .villa6 h4 {
    font-size: 24px;
    line-height: 40px;
    margin-top: 0px;
    font-weight: 100;
    margin-left: 0px;
  }

  .divider1 {
    height: 2px;
    background-color: #e0e0e0;
    margin: 10px 0;
    width: 100%;
  }

  .divider9 {
    height: 1px;
    background-color: #6b3131;
    margin: 10px 0;
    width: 100%;
  }

  .tomb {
    margin-top: 500px;
  }

  .villa11 .captive {
    width: 100%;
    margin-top: 14%;
    margin-bottom: 10%;
  }

  .last button {
    margin: auto;
    display: block;
    padding: 10px 20px;
    background-color: #425945;
    color: #ffffff;
    border: .5px solid black;
    border-radius: 15px;
    cursor: pointer;

  }

  .last h1 {
    font-size: 26px;
    margin-top: 12%;
    line-height: 1.5;
  }

  .content {
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
  }

  .ninthblock p {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;
    margin-top: 10px;
    margin-right: 0px;
    color: rgb(159 155 155);
  }

  .dupsix h2 {
    margin: auto;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin-top: 70px;
    line-height: 3px;
  }

  .dupsix p {
    text-align: center;
    font-size: 16px;
    line-height: 0px;
    margin-right: 0px;
    color: rgb(212, 212, 212);
  }

  .robo h4 {
    width: 61%;
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    margin-top: 465px;
    margin-bottom: -15px;
    margin-right: 0px;
    line-height: 3px;
  }

  .robo p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    color: rgb(179 167 167);


  }

  .child1 h2 {
    width: 99%;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    margin-left: 1%;
    margin-top: 128px;
  }

  .child1 button {

    height: 40px;
    margin-top: 40px;
    margin-left: 100px;
    float: left;
    padding: 10px 20px;
    border-color: #e1dcdc;
    color: rgb(159 155 155);
    border: 2px solid #c9c4c4;
    border-radius: 99px;
    font-size: 15px;
    cursor: pointer;
  }

  .divider9 {
    height: 2px;
    background-color: #6b3131;
    margin: 10px 0;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
  }

  .divider10 {
    height: 2px;
    background-color: #6b3131;
    margin: 10px 0;
    margin-top: -98px;
    margin-bottom: 0px;
    width: 100%;
  }

  .seventhblock {
    width: 100%;
    position: relative;
  }
}